body,
html {direction:rtl;
	height: 100%;
	margin: 0;
	background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
*{outline: none;}

.chat {
	margin-top: auto;
	margin-bottom: auto;
}

.card {
	height: 500px;
	border-radius: 15px !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
	padding: 0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}

.msg_card_body {
	overflow-y: auto;
}

.card-header {
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}

.card-footer {
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.container {
	align-content: center;
}

.search {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
}

.search:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.type_msg {
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	height: 60px !important;
	overflow-y: auto;
}

.type_msg:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.attach_btn {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
}

.send_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
}

.search_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
}

.contacts {
	list-style: none;
	padding: 0;
}

.contacts li {
	width: 100% !important;
	padding: 8px 10px;
	margin-bottom: 0px;
	
}

.active {
	background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
	height: 60px;
	width: 60px;
	border: 1.5px solid #f5f6fa;
}

.user_img_msg {
	height: 40px;
	width: 40px;
	border: 1.5px solid #f5f6fa;
}

.img_cont {
	position: relative;
	height: 70px;
	width: 70px;
}

.img_cont_msg {
	height: 40px;
	width: 40px;
}

.online_icon {
	position: absolute;
	height: 15px;
	width: 15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 13px;
	right: 13px;
	border: 1.5px solid white;
}

/* .offline {
	background-color: #c23616 !important;
} */

.user_info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.user_info span {
	font-size: 20px;
	color: white;
}

.user_info p {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.6);
}

.video_cam {
	margin-left: 50px;
	margin-top: 5px;
}

.video_cam span {
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.msg_cotainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #82ccdd;
	padding: 10px;
	position: relative;
}

.msg_cotainer_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #78e08f;
	padding: 10px;
	position: relative;
}

.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
}

.msg_head {
	position: relative;
}

#action_menu_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.action_menu ul li i {
	padding-right: 10px;
}

.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}
#plus{
 width: 1.8rem;
 height: 1.8rem;

 border-radius: 50%;
 /* display: flex; justify-content: flex-start; flex-direction: row-reverse; */
}
.color{
	color: white;
	margin: 0 0.3rem;
}
#modalAdd,#modalChange{
	display: none;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	border-radius: 15px; 
}
.content{
	border-radius: 15px;
	background-color:rgba(0,0,0,0.9);   

	margin: 15% auto;
	width: 45%;
	border-radius: 10px;
   padding: 5%;
	text-align: center;
}
.contact{ border-radius: 10px;padding: 8px;width:80%;background-color: black;color:#888;
margin: 3%;  text-align: center;border: 1px solid rgb(8, 223, 126) ;border-radius: 15px;
}
#add{width: 150px;color:#888;
cursor: pointer;border-radius: 15px;outline: none;
}
#add:hover{border: 1px solid rgb(2, 71, 40) ;background-color: rgb(8, 223, 126);color: black;box-shadow:2px 4px  15px    rgb(148, 223, 145);}
.close{
	display: flex;
	justify-content: right;
	text-align: top;
	color: rgb(8, 223, 126);z-index: 2;background-color: #f1f1f1;border-radius: 50%;
}
.liclass {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 40px;
	height: 30px;
	align-items: center;
	color: white !important;
	border-bottom: 1px solid lightgray;
}
.boxchat {
	
	width: 35%;
	height: auto;
	padding: 4px;
	

background-color: rgb(248, 247, 245);
border-radius: 5px;
margin-bottom: 5px;

}
.message{color: rgb(210, 13, 13) !important;font-size: 14px;font-weight: bold;direction:rtl;
	width:100% ;text-align: right; text-align: right;}
#msg-card_body{
	
	display: flex;
    flex-direction: column;
}

.left {
    align-self: flex-start;
background-color: #cfe3d3;
}

.right {
    align-self: flex-end;
}





.time{
	font-size:9px;
color:gray;

width:100% ;
align-items: end baseline;}


.aclass {
	background: unset;
	border: 0;

	font-size: 20px;
	color: white;
	cursor: pointer;

}
.active{
		
	background-color: #e9e5f3;
color:rgb(45, 43, 84);

}
p {
	margin-bottom: 0px;
}


::-webkit-scrollbar {
	width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
	background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media(max-width: 576px) {
	.contacts_card {
		margin-bottom: 15px !important;
	}
}











