* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    border-radius: 15px;
    color:#783434;
}

 body {
    background:   #a1050512;
  
} 

.container {
    direction: rtl;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: start;
    flex-direction: row;
    /* border: 0; */
    background: #a105052b;

}

.side {
    border-radius: 15px;
    display: flex;
    width: 30%;
    height: 97vh;
    justify-content: start;
    flex-direction: column;
    margin: 10px;
    /* border: 1px solid black; */
    background:#ffffffdb;

}

.chat {
    margin: 10px;
    border-radius: 15px;
    display: flex;
    width: 70%;
    height: 97vh;
    justify-content: start;
    flex-direction: column;
    /* border: 1px solid black; */
    background:#ffffffdb;

}

.chat .header,
.chat .footer {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 7%;
    margin: 5px;
    /* border: 1px solid black; */
    background: #a1050517;
}

.chat .body {
    height: 87%;
    border: none;
}

.side .header,
.side .footer {
    display: flex;
    width: 97%;
    height: 7%;
    margin: 5px;
    background: #a1050517;
    justify-content: start;
    flex-direction: row;
}

.side .body {
    height: 87%;
    border: none;
    width: 100%;

    margin: 5px;
    justify-content: start;
}

.side .body,
.side .header,
.side .footer,
.chat .body,
.chat .header,
.chat .footer {
    padding: 5px;
    align-items: center;
  
}  
.side{padding:0px !important;}
.header{direction: rtl;}
span{margin-left: auto;padding:5px;border:none}
i{color: #808080de;font-size: 20px;margin: 0px 3px;}
ul{padding:5px;margin:0px;border-radius:0px;}
li{display: flex;border-bottom: 1px solid #e5a8a861;background: #c7d7d545;align-items: center !important;padding:5px;border-radius:0px;margin:0px;right:0;width:100%;}
.chatboxright{display:flex;align-items: center !important;padding:5px;background: #c7d7d545;flex-direction:column;width: 60%;margin-bottom:5px;}
.chatboxleft{display:flex;align-items: center !important;padding:5px;float:left;flex-direction:column;background: #c7d7d545;width:20%;}
.time{font-size:9px;}
.fa-send{font-size:22px;}
.fa-plus ,.fa-refresh ,.edite2{font-size: 22px;margin: 0px 5px;}